{% extends 'base.html.twig' %}

{% block title %}Lalala{% endblock %}

{% block body %}
<div id="products_list">

    <ul>
        <li>deded</li>
        <li>dede</li>
        <li>deded</li>
        <li>dede</li>
    </ul>
</div>
  Coucou
{% endblock %}
